.Card {
	height: 15rem;
	width: auto;
}

.Card__status {
	top: 1.5rem;
	left: 0;
	width: 7rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: left;
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	color: #fbfbfb;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	align-items: center;
}

.Card img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.Card__data {
	padding: 1rem;
}

.Card__data * {
	margin: 0;
	padding: 0;
}

.Card__data ul {
	list-style: none;
	text-align: left;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.25rem;
	color: #fbfbfb;
}

.Card__data ul h5 {
	color: #7e7e7e;
}
