*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #05292E;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --card-background: #062226;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  a {
    font-weight: 500;
  }